body {
  font-family: 'Roboto', Arial, sans-serif;
}
h1 {
  color: hwb(91 6% 21%);
}

h2 {
  color: #28938e;
}

a {
  color: #fc17e9;
  text-decoration: none;
}

a:hover {
  color: #c6bb28;
  text-decoration: underline;
}

.menu {
  background-color: hsla(39, 83%, 73%, 0.479);
  padding: 20px;
  text-align: center;
}

.menu a {
  color: #9c0f0fee;
}

.pie {
  text-align: center;
}

#lista {
  background-color: #7aaef3c9;
}

#lista > li {
  color: #1b5e20;
}

#lista > li:first-child {
  color: #b71c1c;
}

#lista > li:last-child {
  color: #6b0485;
}

h2::before {
  content: "📌 ";
}

p::after {
  content: " ✏️";
}